{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}gacha/index.css" />
<style>
  .container {
    background: url("{{_res_path}}{{bg}}") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
  }

  .container::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(8px);
    z-index: -1;
  }

  .container > .copyright {
    display: none;
  }
</style>
{{/block}}

{{block 'main'}}
<div class="gacha-card">
  <!-- <div class="gacha-title">归龙潮当期卡池</div> -->
  <div class="gacha-meta-row">
    <span class="gacha-tag">{{statusText}}</span>
  </div>

  {{if hasGacha}}
  <div class="gacha-head-row">
    <div class="gacha-name">{{gachaName}}</div>
    {{if banner === '限定角色概率 UP'}}
    <img class="gacha-banner-icon" src="{{_res_path}}gacha/imgs/icon/gacha_banner.png" alt="限定角色概率 UP" />
    {{else}}
    <div class="gacha-banner">{{banner}}</div>
    {{/if}}
  </div>
  <div class="gacha-period">{{startText}} ~ {{endText}}</div>
  <div class="gacha-countdown">⏰ {{endCountdownText}}</div>

  {{if characterImage}}
  <div class="char-single">
    <div class="char-item">
      <div class="char-avatar">
        <img src="{{_res_path}}{{characterImage}}" alt="{{characterName}}" />
        <div class="gacha-overlay">
          <div class="overlay-top">
            <div class="overlay-name">{{characterName}}</div>
            {{if stampText}}
            <div class="overlay-stamp">{{stampText}}</div>
            {{/if}}
            <div class="overlay-mark"></div>
          </div>
          <div class="overlay-sub">[{{gachaName}}] {{banner}}：{{startShort}}-{{endShort}}</div>
          <div class="overlay-title">{{gachaName}}</div>
          {{if signature}}
          <div class="overlay-signature">{{signature}}</div>
          {{/if}}
          <img class="overlay-icon" src="{{_res_path}}gacha/imgs/icon/yinglongjie.png" alt="卡池图标" />
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="empty">未找到 {{characterName || '该角色'}} 的图片，请将图片放到 resources/gacha/imgs/character-detail/{{characterName || '角色名'}}/ 下</div>
  {{/if}}
  {{else}}
  <div class="empty">暂未配置卡池数据，请编辑 resources/gacha/gacha.json</div>
  {{/if}}

  <div class="gacha-footer">
    <div class="gacha-time">生成时间：{{nowText}}</div>
    <div class="plugin-info">{{@sys.copyright}}</div>
  </div>
</div>
{{/block}}